<div id="tit">
    <span class ="contitulo">Bienvenido</span></br>
    <span class ="nompersona">Usuario</span>
</div>
<div id="menu">
    <span id="Personas"><a href="personas">Personas</a></button>
    <span id="Grupos"><a href="grupos">Grupos</a></a></div>
</div>
<div id="formulario">
    <div id="formulario_inside">            
    </div>
</div>
