<div class="menu" id="menu"> 
    <span>
        <a href="/personas/lista">Personas</a>
    </span>
    <span>
        <a href="/grupos/lista">Grupos</a>
    </span>
    <span>
        <a href="/logout">Salir</a>
    </span>
</div>
