<div class="menu" id="menu"> 
    <span>
        <a href="/">Inicio</a>
    </span>
    <span>
        <a href="/personas/lista">Personas</a>
    </span>
    <span>
        <a href="/grupos/lista"> Grupos</a>
    </span>
</div>
