<p> 
 <a class="enlace" href="/grupos/crear" alt="Crear Grupos"> Crear un nuevo Grupo </a>
</p>

[% INCLUDE "mensajes.tt" %]

<div id="contenido">
    <table id="lista_grupos" class="dataTable" width="100%">
        <thead> 
            <tr>
                <th> GID </th> 
                <th> Nombre del Grupo </th> 
                <th> Descripción </th> 
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
