<div class="menu" id="menu2">
        <span><a href="/grupos/crear">Crear</a></span>
        <span><a href="/grupos/lista">Listar</a></span>
        <span><a href="/grupos/apergroup">Agregar Persona</a></span>
</div>
