[% INCLUDE "personas/menu.tt" %]
<div id ="titulo">Agregar a Grupo</div>
<div id="conin">
    <form>
        <p>Agregar personas al grupo:<input name="agr" type="text" /></p>
    </form>
    <span class="inf">Miembros del Grupo:</span></br>
    <span class="inf">-Walter Vargas.</span></br>
    <span class="inf">-Dinorah Carrillo.</span></br>
    <span class="inf">-Leonardo Duran.</span></br>
    <span class="inf">-Carlos Paredes.</span></
</div>  
