[% INCLUDE "personas/menu.tt" %]
<div id ="titulo">Crear Persona</div>
<div id="contenido">
    <form action="/personas/crear" method="POST">
        <p>UID:<input name="uid" type="text" /></p>
        <p>Nombres:<input name="nombres" type="text" /></p>
        <p>Apellidos:<input name="apellidos" type="text" /></p>
        <br />
        <br />
        <input type="submit" value="Crear Persona" />
   </form>
</div>
