<div id="tit">
    <span class ="contitulo">Menu</span></br>
    <span class ="nompersona">Persona</span>
</div>
<div id="menu">
    <button id="Crear">Crear</button>
    <button id="Listar">Listar</button>
    <button id="Foto">Foto</button>
</div>
<div id="formulario">
    <div id="formulario_inside">            
    </div>
</div>
