[% INCLUDE "personas/menu.tt" %]
<div id ="titulo">Lista de Personas</div>
<div id="conin">
    <table>
        [% FOREACH persona IN personas %]
            <tr>
                <td>
                    [% persona %]
                    [% FOREACH opcion IN opciones %]
                        <td><a href="">[% opcion %]</a></td>
                    [% END %]
                </td>
            </tr>
        [% END %]
    </table>
</div>
